html {
  margin: 0 auto;
  max-width: 900px;
}

h1, h2, h3, h4, h5 {
  border-bottom: 1px solid #ccc;
}

p, li {
  line-height: 140%;
}

pre, code {
  padding: 2px 4px;
  background: #f4f4f4;
  color: black;
}

pre {
  border: 1px solid #ccc;
}

code {
  display: inline-block;
}

img {
  max-width: 100%;
}

/*
 * Use CSS to generate section numbers in the headers
 */

h1 { counter-reset: section1 0 section2 0 section3 0; }
h2 { counter-reset:            section2 0 section3 0; }
h3 { counter-reset:                       section3 0; }

h2::before {
  counter-increment: section1;
  content: counters(section1, ".") ". ";
}

h3::before {
  counter-increment: section2;
  content: counter(section1) "." counter(section2) ". ";
}

h4::before {
  counter-increment: section3;
  content: counter(section1) "." counter(section2) "." counter(section3) ". ";
}

/*
 * Table of Contents
 */

div.toc {
  padding: 5px;
  border: solid #ccc;
  border-width: 1px 0;
}

div.toc ol {
  list-style-type: none;
  counter-reset: toc-section;
}

div.toc ol li::before {
  counter-increment: toc-section;
  content: counters(toc-section, ".") ". ";
}

div.toc ol li a {
  text-decoration: none;
  color: #44c;
  background: white;
  transition: background 400ms;
}

div.toc ol li a:hover {
  color: black;
  background: #ccf;
  transition: background 300ms;
}

/*
 * Highlight main sections
 */

h2 { color: #33c; }

div.toc > ol > li > a {
  font-weight: bold;
}
