html {
  margin: 0 auto;
  max-width: 900px;
}

h1, h2, h3, h4, h5 {
  border-bottom: 1px solid #ccc;
}

p, li {
  line-height: 140%;
}

pre, code {
  padding: 2px 4px;
  background: #f4f4f4;
  color: black;
}

pre {
  border: 1px solid #ccc;
}

code {
  display: inline-block;
}

/*
 * Use CSS to generate section numbers in the headers
 */

h1 {
  counter-reset: section1 0 section2 0 section3 0;
}

h2::before {
  counter-reset: section2 1 section3 1 section4 1;
  counter-increment: section1;
  content: counters(section1, ".") " ";
}

h3::before {
  counter-reset: section3 1 section4 1;
  counter-increment: section2;
  content: counter(section1) "." counter(section2) " ";
}

h4::before {
  counter-increment: section3;
  content: counter(section1) "." counter(section2) "." counter(section3) " ";
}
